@import '/src/shared//styles/variables.module.scss';

.loader {
  position: absolute;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: $secondary;
  position: relative;
  animation: load 1s infinite linear;
  margin: 0 auto;
  top: 25%;
  right: 0;
  left: 0;
  bottom: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
  }

  &::after {
    animation-duration: 4s;
  }
}

@keyframes load {
  100% {transform: rotate(1turn)}
} 