@import '/src/shared//styles/variables.module.scss';


.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
  
    .button {
      font-weight: 400;
      color: $blue;
    }
  }
  
  .tracksWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}