@import '/src/shared//styles/variables.module.scss';

.button {
  height: 40px;
  width: auto;
  border: none;
  border-radius: 32px;
  padding: 10px 24px;
  background-color: inherit;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: .2s;

  &.contained {
    background: linear-gradient(90deg, rgba(19,50,74,1) 9%, rgba(10,64,106,1) 100%);
    
    &:hover {
      background: linear-gradient(90deg, rgba(20,58,87,1) 9%, rgba(10,71,119,1) 100%);
    }
  }

  &.round {

    &:hover {
    }
  }

  &.texted {
    padding: 0;
  }

  &.underscore {
    padding: 0;
    text-decoration: underline;
  }
}