@import 'src/shared/styles/variables.module.scss';

.button {
  border: none;
  border-radius: 32px;
  padding: 10px 24px;
  background-color: inherit;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: $white;
  transition: color 0.2s, background-color 0.2s;

  &.contained {
    background-color: $purple;

    &:hover {
      background-color: $darkPurple;
    }
  }

  &.round {
    border: 1px solid $purple;

    &:hover {
      background-color: $purple;
    }
  }
}