@import '/src/shared//styles/variables.module.scss';

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  transition: background-color 0.2s ease; 
  
  &:hover {
    background-color: $hoverColor;
  }

  &:hover .trackWrapper .imageWrapper .play {
    opacity: 1;
  }

  .end {
    display: flex;
    align-items: center;
    gap: 50px;

    .duration {
      color: $whiteSecondary;
    }

    .button {
      font-size: 1.5rem;
      font-weight: 500;
      transition: 0s;
      height: fit-content;
      padding-right: 15px !important;
      margin-bottom: 10px;
      z-index: 1;
    }
  }

  .trackWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;

    .index {
      color: $whiteSecondary;
    }

    .imageWrapper {
      position: relative;
      width: 58px;
      height: 58px;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;


      .play {
        position: absolute;
        z-index: 2;
        top: 20%;
        left: 20%;
        opacity: 0;
        transition: .2s;
      }
    }

    .trackInfo {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .track {
        font-weight: 500;
        z-index: 1;
      }

      .artist {
        color: $whiteSubTitle;
        z-index: 1;
      }
    }
  }
}