@import '/src/shared//styles/variables.module.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  overflow-y: scroll;
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 0px;
    background-color: $white;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 1.5rem;
      font-weight: 500;
      align-items: center;
    }

    .button {
      font-weight: 400;
      color: $blue;
    }
  }

  .playlists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
} 