@import '/src/shared/styles/variables.module.scss';
@import '/src/shared/styles/mixins.module.scss';

.wrapper {
  position: absolute;
  overflow-y: scroll;
  bottom: 0;;
  width: 32%;
  height: 88%;
  border-left: 1px solid $whiteSubTitle;
  padding: 20px;
  background-color: white;
  z-index: 2;
  right: -700px;
  transition: right 0.2s ease;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $white;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $whiteSecondary;
    border-radius: 5px;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 40px;
    width: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .header {
      width: 100%;
      display: flex;
      gap: 20px;
  
      .image {
        border-radius: 50%;
      }
  
      .information {
        display: flex;
        flex-direction: column;
        gap: 5px;
  
        .type {
          color: $whiteSubTitle;
        }
  
        .name {
          font-size: 1.5rem;
          font-weight: 500;
        }
  
        .play {
          width: 0;
        }
      }
    }
  
    .topTracks {
      display: flex;
      flex-direction: column;

      .title {
        @include sectionTitle;
      }
    }

    .albums {
      .title {
        @include sectionTitle;
      }

      .swiper {
        width: 100%;
  
        .slideWrapper {
          background-position: center;
          background-size: cover;
          width: 180px;
          height: fit-content;
  
         .slide {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .name {
            font-weight: 500;
          }

          .releaseDate {
            color: $whiteSubTitle;
          }

          img {
            display: block;
            width: 100%;
          }
         }
        }
      }
    }
  }
}

.shown {
  right: 5px;
}