$purple: #8D1AEF;
$darkPurple: #7436A7;
$primary: #282828;
$secondary: #333333;
$main: #161616;
$whiteDark: #B8B8B8;
$white: white;
$layerIndex: 1;
$mainIndex: 2;


:export {
  purple: #8D1AEF;
  darkPurple: #7436A7;
  primary: #282828;
  secondary: #333333;
  main: #161616;
  whiteDark: #B8B8B8;
  white: $white;
  layerIndex: 1;
  mainIndex: 2;
}