$main: #3A3558;
$secondary: #3A3C60;
$white: white;
$whiteSecondary: #696983;
$whiteSubTitle: #C2C2C2;
$primary: #2D2E37;
$blue: #5569D0;
$darkBlue: #13324A;
$darkMain: #121738;

:export {
  main: #3A3558;
  secondary: #3A3C60;
  whiteSecondary: #696983;
  white: white;
  whiteSubTitle: #C2C2C2;
  primary: #2D2E37;
  blue: #5569D0;
  darkBlue: #13324A;
  darkMain: #121738;
}