$purple: #8D1AEF;
$primary: #282828;
$main: #161616;
$white: white;
$layerIndex: 1;
$mainIndex: 2;


:export {
  purple: #8D1AEF;
  primary: #282828;
  main: #161616;
  white: $white;
  layerIndex: 1;
  mainIndex: 2;
}