@import '/src/shared//styles/variables.module.scss';


.sectionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0px;
      background-color: $white;
    }
  }
    

.sideContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 32%;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    box-shadow: inset 0px -10px 10px -1px white;
    z-index: 1;
  }
}
  